@import "tailwindcss";

:root {
  --sidebar-width: 280px;
  --outer-padding: 0.75rem;
}

@theme {
  --text-sm: 0.8rem;
  --text-base: 0.925rem;
  --text-lg: 1.1rem;
}

h1 {
  @apply font-semibold;
}

.lucide {
  width: 20px;
  height: 20px;
}

/*
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
